// Colors
$color-dark-primary: #252122;
$color-dark-secondary: #352e30;
$color-dark-tertiary: #323232;
$color-blue-primary: #4380c2;
$color-blue-secondary: #31587f;
$color-blue-dark-1: #366ca5;
$color-blue-dark-2: #3b5998;

$color-tan-primary: #ffd58c;
$color-tan-2: #eebd69;

$color-grey: #ccc;
$color-grey-2: #8a8888;
$color-grey-light: #edecec;
$color-grey-light-2: #e0e0df;
$color-grey-dark: #3f3f3f;

$color-red: #c01e1e;
$color-red-2: #e04343;

$color-green: #5de043;

$box-shadow: 2px 2px 10px -1px #000000;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  line-height: 1.5;
}

.App {
  position: relative;
}
