*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif; }

body {
  line-height: 1.5; }

.container {
  padding-left: 2rem;
  padding-right: 2rem; }
  @media only screen and (min-width: 60em) {
    .container {
      padding-left: 4rem;
      padding-right: 4rem; } }

.dropdown-arrow {
  position: relative;
  display: inline-block;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(90deg);
  margin-left: 0.6rem;
  width: 0.6rem;
  height: 0.6rem;
  background-color: #fff;
  transition: all 0.3s; }
  .dropdown-arrow--active {
    transform: rotate(180deg); }

.flex {
  display: flex; }
  .flex--center {
    justify-content: center; }
  .flex--space-around {
    justify-content: space-around; }

.mt-sm {
  margin-top: 1rem; }

.btn {
  text-decoration: none;
  color: #fff;
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
  transition: all 0.1s ease-in; }
  .btn--blue {
    background-color: #4380c2; }
  .btn--tan {
    background-color: #ffd58c;
    color: #252122;
    transition: all 0.2s ease-in; }
    .btn--tan:hover {
      background-color: #eebd69; }
  .btn:active {
    transform: scale(0.9); }

.text-bold {
  font-weight: bold; }

.underline {
  display: block;
  width: 30%;
  height: 0.3rem; }
  .underline--blue {
    background-color: #4380c2; }

.object-fit__cover {
  object-fit: cover; }

.navigation-mobile {
  position: sticky;
  z-index: 50;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #252122;
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /***
  Logo
  ****/ }
  @media only screen and (min-width: 60em) {
    .navigation-mobile {
      display: none; } }
  .navigation-mobile h2 {
    font-size: 1rem; }
  .navigation-mobile a {
    text-decoration: none;
    color: #fff; }
  .navigation-mobile__icon-container {
    display: flex;
    align-items: center; }
    .navigation-mobile__icon-container label i {
      cursor: pointer; }
    .navigation-mobile__icon-container input {
      visibility: hidden; }
    .navigation-mobile__icon-container label {
      cursor: pointer; }
      .navigation-mobile__icon-container label span {
        display: block;
        position: relative;
        height: 0.2rem;
        width: 1.5rem;
        background-color: #fff; }
        .navigation-mobile__icon-container label span::before, .navigation-mobile__icon-container label span::after {
          content: "";
          position: absolute;
          width: 1.5rem;
          height: 0.2rem;
          background-color: #fff;
          transition: all 0.2s; }
        .navigation-mobile__icon-container label span::before {
          top: -0.5rem; }
        .navigation-mobile__icon-container label span::after {
          bottom: -0.5rem; }
    .navigation-mobile__icon-container input:checked + label span {
      background-color: transparent; }
    .navigation-mobile__icon-container input:checked + label span::before {
      transform: rotate(-45deg);
      top: 0; }
    .navigation-mobile__icon-container input:checked + label span::after {
      transform: rotate(45deg);
      top: 0; }
  .navigation-mobile__list {
    visibility: hidden;
    position: absolute;
    list-style-type: none;
    padding: 5rem 1rem 1rem 1rem;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    overflow: hidden;
    background-image: linear-gradient(to bottom right, #366ca5, #4380c2);
    transition: all 0.3s;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 100; }
    .navigation-mobile__list--active {
      visibility: visible;
      width: 15rem; }
    .navigation-mobile__list span {
      cursor: pointer;
      position: absolute;
      right: 1rem;
      top: 1rem; }
  .navigation-mobile__item {
    position: relative;
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 1rem 0;
    margin-bottom: 1rem; }
    .navigation-mobile__item--sub {
      padding: 0;
      margin-bottom: 0; }
  .navigation-mobile__sub {
    font-size: 0;
    height: 0;
    transition: all 0.2s; }
    .navigation-mobile__sub--active {
      height: auto;
      font-size: 0.9rem;
      margin-top: 1rem;
      margin-bottom: 0;
      padding: 0.8rem 0 0 0.5rem;
      border-top: 1px solid #ccc; }
  .navigation-mobile__logo {
    width: 40%; }
  .navigation-mobile__actions {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-size: 3rem; }

.navigation-desktop {
  display: none;
  position: relative; }
  @media only screen and (min-width: 60em) {
    .navigation-desktop {
      display: block; } }
  .navigation-desktop__logo {
    position: absolute;
    text-decoration: none;
    display: flex;
    align-items: center;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right bottom, #4380c2, #31587f);
    padding: 0.8rem 4rem;
    -webkit-clip-path: polygon(0 0, 93% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 93% 0, 100% 100%, 0% 100%);
    width: 35vw; }
    .navigation-desktop__logo img {
      width: 15%;
      margin-right: 1rem; }
    .navigation-desktop__logo h2 {
      color: #fff;
      font-size: 0.8rem; }
      @media only screen and (min-width: 78.13em) {
        .navigation-desktop__logo h2 {
          font-size: 1.2rem; } }
  .navigation-desktop__social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #252122;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem; }
    .navigation-desktop__social a {
      cursor: pointer;
      text-decoration: none;
      color: #fff;
      font-size: 1.2rem;
      margin-left: 1rem;
      transition: all 0.1s ease-in; }
      .navigation-desktop__social a:hover {
        color: #4380c2; }
    .navigation-desktop__social--phone {
      font-size: 0.8rem !important;
      margin-left: 0.3rem !important;
      margin-right: 1rem; }
  .navigation-desktop__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #352e30; }
  .navigation-desktop__item {
    position: relative;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    margin-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: all 0.2s ease-in; }
    .navigation-desktop__item span {
      display: block;
      position: absolute;
      opacity: 0;
      bottom: 0;
      width: 100%;
      height: 0.2rem;
      background-color: #ffd58c;
      transition: all 0.2s ease-in; }
    .navigation-desktop__item--active {
      color: #ffd58c; }
      .navigation-desktop__item--active span {
        opacity: 1;
        bottom: 0.7rem; }
    .navigation-desktop__item:hover {
      color: #ffd58c; }
  .navigation-desktop__item:hover span {
    opacity: 1;
    bottom: 0.7rem; }
  .navigation-desktop__sub-list {
    position: absolute;
    bottom: -6rem;
    background: #352e30;
    padding: 1rem;
    border-radius: 3px;
    z-index: 10; }
  .navigation-desktop__sub-item {
    width: 10rem;
    display: block;
    text-decoration: none;
    color: #fff;
    transition: all 0.1s ease-in; }
    .navigation-desktop__sub-item:not(:last-child) {
      margin-bottom: 1rem; }
    .navigation-desktop__sub-item:hover {
      color: #ffd58c; }

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 90; }
  .overlay--dark {
    background-color: rgba(0, 0, 0, 0.7); }

.footer {
  display: flex;
  flex-direction: column;
  background-color: #252122;
  padding: 2rem;
  align-items: center; }
  .footer__list {
    display: flex;
    flex-direction: column; }
    @media only screen and (min-width: 60em) {
      .footer__list--mobile {
        display: none; } }
    .footer__list--desktop {
      display: none; }
      @media only screen and (min-width: 60em) {
        .footer__list--desktop {
          display: flex; } }
  .footer__item {
    position: relative;
    text-align: center;
    display: block;
    text-decoration: none;
    color: #fff;
    cursor: pointer; }
    .footer__item:not(:last-child) {
      margin-bottom: 1rem; }
      @media only screen and (min-width: 60em) {
        .footer__item:not(:last-child) {
          margin-bottom: 0;
          margin-right: 1rem; } }
    .footer__item--sub {
      position: absolute;
      bottom: -5rem;
      left: -3rem;
      background-color: #252122; }
  .footer__logo {
    width: 30%;
    margin: 2rem 0; }
    @media only screen and (min-width: 60em) {
      .footer__logo {
        width: 10%; } }
  .footer__copyright {
    align-self: flex-start;
    color: #fff;
    font-size: 0.7rem; }

.form__group {
  margin-bottom: 1rem; }

.form__input {
  width: 100%;
  font-size: 1rem;
  padding: 0.8rem;
  outline: none;
  border: none;
  border-radius: 4px; }

.home {
  /******
  BANNER
  *******/
  /****
  INTRO
  *****/
  /**********
    SERVICES
  ***********/
  /**************
    TESTIMONIALS
  ***************/
  /*******
    BLOG
  ********/
  /*********
    GALLERY
  **********/ }
  .home__banner {
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url("../images/banner_1.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 2rem;
    padding-bottom: 2rem; }
    @media only screen and (min-width: 60em) {
      .home__banner {
        flex-direction: row;
        height: 24rem;
        padding-top: 4rem; } }
    .home__banner::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 1; }
    .home__banner-header {
      display: flex;
      position: relative;
      z-index: 5;
      flex-direction: column;
      align-items: center; }
      @media only screen and (min-width: 60em) {
        .home__banner-header {
          align-items: flex-start;
          padding-left: 4rem;
          width: 50%; } }
      .home__banner-header h1 {
        text-align: center;
        color: #fff;
        width: calc(100% - 2rem);
        font-size: 2.3rem;
        margin-bottom: 1rem; }
        @media only screen and (min-width: 60em) {
          .home__banner-header h1 {
            text-align: left;
            font-size: 3rem; } }
      .home__banner-header a {
        border-radius: 3px;
        padding: 0.5rem 1rem;
        font-size: 0.7rem; }
    .home__banner-quote-desktop {
      display: none;
      position: absolute;
      z-index: 5;
      right: 4rem;
      background-color: #252122;
      width: 40%;
      padding: 9rem 1rem 2rem 1rem;
      border-radius: 4px;
      box-shadow: 2px 2px 10px -1px #000000;
      overflow: hidden; }
      @media only screen and (min-width: 60em) {
        .home__banner-quote-desktop {
          display: flex;
          flex-direction: column; } }
      .home__banner-quote-desktop a {
        margin-top: 1rem;
        align-self: flex-end; }
      .home__banner-quote-desktop-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        font-weight: normal;
        color: #fff;
        background-color: #4380c2;
        padding-top: 0.8rem;
        padding-bottom: 1.4rem; }
        .home__banner-quote-desktop-header svg {
          position: absolute;
          bottom: -1.5rem;
          left: 0;
          width: 100%; }
    .home__banner-quote-mobile {
      position: relative;
      z-index: 5;
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center; }
      @media only screen and (min-width: 60em) {
        .home__banner-quote-mobile {
          display: none; } }
      .home__banner-quote-mobile--header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem; }
        .home__banner-quote-mobile--header div {
          width: 6rem;
          height: 0.1rem;
          background-color: #ffd58c; }
        .home__banner-quote-mobile--header h4 {
          margin: 0 1rem;
          font-size: 1rem;
          color: #fff; }
      .home__banner-quote-mobile a {
        font-size: 0.7rem; }
  .home__intro, .home__services, .home__testimonials, .home__blog {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  @media only screen and (min-width: 60em) {
    .home__intro {
      display: flex;
      padding-top: 5rem;
      justify-content: space-between; }
      .home__intro-content {
        width: calc(60% - 1rem); } }
  .home__intro-content h2 {
    font-size: 1.2rem;
    position: relative;
    margin-bottom: 1rem; }
    @media only screen and (min-width: 60em) {
      .home__intro-content h2 {
        font-size: 2rem; } }
  .home__intro-image {
    display: none;
    width: calc(40% - 1rem);
    height: 20vw;
    background-image: url("../images/intro.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 2px 2px 10px -1px #000000; }
    @media only screen and (min-width: 60em) {
      .home__intro-image {
        display: block; } }
  .home__services {
    background-color: #323232; }
    .home__services-description {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem; }
      @media only screen and (min-width: 60em) {
        .home__services-description {
          flex-direction: row;
          justify-content: space-between; }
          .home__services-description--header {
            width: 35%;
            border-right: 1px solid #ffd58c; } }
      .home__services-description h5 {
        color: #ffd58c;
        font-size: 0.8rem; }
        @media only screen and (min-width: 60em) {
          .home__services-description h5 {
            font-size: 1rem; } }
      .home__services-description h4,
      .home__services-description p {
        color: #fff; }
      .home__services-description h4 {
        width: 70%;
        font-size: 1.2rem;
        margin-bottom: 1rem; }
        @media only screen and (min-width: 60em) {
          .home__services-description h4 {
            font-size: 1.5rem;
            width: 100%; } }
      @media only screen and (min-width: 60em) {
        .home__services-description p {
          width: 60%; } }
    .home__services-options {
      display: flex;
      flex-direction: column; }
      @media only screen and (min-width: 60em) {
        .home__services-options--showcase {
          display: flex;
          justify-content: space-between;
          margin-top: 2rem; } }
      .home__services-options--showcase-card {
        background: #fff;
        border-radius: 4px;
        padding: 1rem; }
        @media only screen and (min-width: 60em) {
          .home__services-options--showcase-card {
            width: calc(33.33% - 1rem); } }
        .home__services-options--showcase-card:not(:last-child) {
          margin-bottom: 1rem; }
          @media only screen and (min-width: 60em) {
            .home__services-options--showcase-card:not(:last-child) {
              margin-bottom: 0; } }
      .home__services-options--showcase h1 {
        margin-bottom: 1rem; }
      .home__services-options--showcase p {
        font-size: 1.1rem; }
    .home__services a {
      margin-top: 2rem;
      align-self: center; }
  .home__testimonials {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #252122;
    z-index: 1;
    overflow: hidden; }
    .home__testimonials--bgimage {
      display: block;
      position: absolute;
      width: 50%;
      left: 50%;
      z-index: -1;
      opacity: 0.2; }
    .home__testimonials-header h5 {
      color: #ffd58c;
      font-size: 0.8rem; }
      @media only screen and (min-width: 60em) {
        .home__testimonials-header h5 {
          font-size: 1rem; } }
    .home__testimonials-header h4,
    .home__testimonials-header p {
      color: #fff; }
    .home__testimonials-header h4 {
      width: 70%;
      font-size: 1.2rem;
      margin-bottom: 1rem; }
      @media only screen and (min-width: 60em) {
        .home__testimonials-header h4 {
          font-size: 1.5rem; } }
    .home__testimonials-comments {
      display: flex;
      flex-direction: column; }
      @media only screen and (min-width: 60em) {
        .home__testimonials-comments {
          flex-direction: row;
          justify-content: space-between; } }
      @media only screen and (min-width: 60em) {
        .home__testimonials-comments--container {
          width: calc(50% - 1rem); } }
      .home__testimonials-comments--container h5 {
        font-weight: lighter;
        font-size: 1rem;
        color: #fff;
        margin-bottom: 1rem; }
      .home__testimonials-comments--content {
        position: relative;
        background-color: #fff;
        padding: 1rem;
        border-radius: 1rem;
        margin-bottom: 1rem; }
        .home__testimonials-comments--content::after {
          content: "";
          position: absolute;
          top: -0.4rem;
          left: 1.3rem;
          width: 1rem;
          height: 1rem;
          background-color: #fff;
          transform: rotate(45deg); }
    .home__testimonials a {
      align-self: center;
      color: #ffd58c;
      text-decoration: none;
      border-bottom: 1px solid #ffd58c; }
  .home__blog {
    text-align: center; }
    @media only screen and (min-width: 60em) {
      .home__blog {
        padding-top: 4rem;
        padding-bottom: 4rem; } }
    .home__blog span i {
      font-size: 6rem;
      color: #ffd58c;
      margin-bottom: 1rem; }
      @media only screen and (min-width: 60em) {
        .home__blog span i {
          font-size: 10rem; } }
    .home__blog h3 {
      margin-bottom: 1rem; }
      @media only screen and (min-width: 60em) {
        .home__blog h3 {
          font-size: 2rem; } }
    .home__blog a {
      border-radius: 4rem;
      font-size: 0.8rem; }
      @media only screen and (min-width: 60em) {
        .home__blog a {
          font-size: 1.5rem; } }
  .home__gallery {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #323232;
    margin-top: 1rem;
    padding-top: 6rem;
    padding-bottom: 2rem; }
    @media only screen and (min-width: 60em) {
      .home__gallery {
        padding-top: 10rem; } }
    .home__gallery svg {
      position: absolute;
      left: 0;
      top: -0.2rem; }
    .home__gallery-header h5 {
      color: #ffd58c;
      font-size: 0.8rem; }
      @media only screen and (min-width: 60em) {
        .home__gallery-header h5 {
          font-size: 1rem; } }
    .home__gallery-header h4,
    .home__gallery-header p {
      color: #fff; }
    .home__gallery-header h4 {
      width: 70%;
      font-size: 1.2rem;
      margin-bottom: 1rem; }
      @media only screen and (min-width: 60em) {
        .home__gallery-header h4 {
          font-size: 1.5rem; } }
    .home__gallery-showcase {
      display: flex;
      flex-direction: column; }
      @media only screen and (min-width: 60em) {
        .home__gallery-showcase {
          flex-direction: row;
          justify-content: space-between; } }
      .home__gallery-showcase img {
        width: 100%;
        height: 20rem;
        border: 1px solid #ffd58c;
        object-fit: cover;
        object-position: center; }
        @media only screen and (min-width: 60em) {
          .home__gallery-showcase img {
            width: calc(33.333% - 1rem); } }
        .home__gallery-showcase img:not(:last-child) {
          margin-bottom: 1.5rem; }
          @media only screen and (min-width: 60em) {
            .home__gallery-showcase img:not(:last-child) {
              margin-bottom: 0; } }
    .home__gallery a {
      margin-top: 1rem;
      text-decoration: none;
      color: #ffd58c;
      align-self: center;
      border-bottom: 1px solid #ffd58c; }
