*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif; }

body {
  line-height: 1.5; }

.App {
  position: relative;
  min-height: 100vh;
  padding-bottom: 21rem; }
  @media only screen and (min-width: 60em) {
    .App {
      padding-bottom: 18rem; } }

.container {
  padding-left: 2rem;
  padding-right: 2rem; }
  @media only screen and (min-width: 60em) {
    .container {
      padding-left: 4rem;
      padding-right: 4rem; } }

.dropdown-arrow {
  position: relative;
  display: inline-block;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(90deg);
  margin-left: 0.6rem;
  width: 0.6rem;
  height: 0.6rem;
  background-color: #fff;
  transition: all 0.3s; }
  .dropdown-arrow--active {
    transform: rotate(180deg); }

.flex {
  display: flex; }
  .flex--center {
    justify-content: center; }
  .flex--space-around {
    justify-content: space-around; }

.mt-sm {
  margin-top: 1rem !important; }

.mt-md {
  margin-top: 2rem !important; }

.mb-sm {
  margin-bottom: 1rem !important; }

.mb-md {
  margin-bottom: 2rem !important; }

.mt-lg {
  margin-top: 5rem !important; }

.btn {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
  transition: all 0.1s ease-in;
  box-shadow: 2px 2px 10px -1px #000000;
  outline: none;
  border: none; }
  .btn--disabled {
    cursor: default;
    color: #252122;
    border: 1px solid #3f3f3f !important;
    background-color: #fff;
    box-shadow: none; }
  .btn--blue {
    background-color: #4380c2; }
  .btn--tan {
    background-color: #ffd58c;
    color: #252122;
    transition: all 0.2s ease-in; }
    .btn--tan:hover {
      background-color: #eebd69; }
  .btn--white {
    color: #3f3f3f;
    background-color: #fff;
    border-radius: 10rem;
    border: 1px solid #252122; }
  .btn--red {
    background-color: #c01e1e; }
  .btn:active {
    transform: scale(0.9); }

.btn-prev,
.btn-next {
  outline: none;
  font-size: 1rem;
  padding: 0.3rem 0.8rem;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #8a8888; }
  .btn-prev--active,
  .btn-next--active {
    cursor: pointer;
    border: none;
    background-color: #4380c2;
    color: #fff;
    transition: all 0.1s; }
    .btn-prev--active:active,
    .btn-next--active:active {
      transform: scale(0.9); }

.share-btn {
  cursor: pointer;
  border: none;
  outline: none;
  width: 8rem;
  background-color: transparent; }

.text-bold {
  font-weight: bold; }

.underline {
  display: block;
  width: 30%;
  height: 0.3rem; }
  .underline--blue {
    background-color: #4380c2; }

.object-fit__cover {
  object-fit: cover; }

.alert {
  padding: 1rem;
  width: 100%;
  text-align: center;
  font-weight: bold;
  border-radius: 3px; }
  .alert--err {
    background-color: #fff;
    border: 2px solid #c01e1e; }

.form {
  display: flex;
  flex-direction: column;
  width: 100%; }
  @media only screen and (min-width: 78.13em) {
    .form {
      width: 80%;
      margin: 0 auto; } }
  .form__actions {
    display: flex;
    justify-content: flex-end; }

.color-green {
  color: #5de043; }

.navigation-mobile {
  position: sticky;
  z-index: 50;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #252122;
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /***
  Logo
  ****/ }
  @media only screen and (min-width: 60em) {
    .navigation-mobile {
      display: none; } }
  .navigation-mobile h2 {
    font-size: 1rem; }
  .navigation-mobile a {
    text-decoration: none;
    color: #fff; }
  .navigation-mobile__icon-container {
    height: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center; }
    .navigation-mobile__icon-container label i {
      cursor: pointer; }
    .navigation-mobile__icon-container input {
      visibility: hidden; }
    .navigation-mobile__icon-container label {
      cursor: pointer; }
      .navigation-mobile__icon-container label span {
        display: block;
        position: relative;
        height: 0.2rem;
        width: 1.5rem;
        background-color: #fff; }
        .navigation-mobile__icon-container label span::before, .navigation-mobile__icon-container label span::after {
          content: "";
          position: absolute;
          width: 1.5rem;
          height: 0.2rem;
          background-color: #fff;
          transition: all 0.2s; }
        .navigation-mobile__icon-container label span::before {
          top: -0.5rem; }
        .navigation-mobile__icon-container label span::after {
          bottom: -0.5rem; }
    .navigation-mobile__icon-container input:checked + label span {
      background-color: transparent; }
    .navigation-mobile__icon-container input:checked + label span::before {
      transform: rotate(-45deg);
      top: 0; }
    .navigation-mobile__icon-container input:checked + label span::after {
      transform: rotate(45deg);
      top: 0; }
  .navigation-mobile__list {
    visibility: hidden;
    position: fixed;
    list-style-type: none;
    padding: 5rem 1rem 1rem 1rem;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    overflow: hidden;
    background-image: linear-gradient(to bottom right, #366ca5, #4380c2);
    transition: all 0.3s;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 100; }
    .navigation-mobile__list--active {
      visibility: visible;
      width: 15rem; }
    .navigation-mobile__list span {
      cursor: pointer;
      position: absolute;
      right: 1rem;
      top: 1rem; }
  .navigation-mobile__item {
    position: relative;
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 1rem 0;
    margin-bottom: 1rem; }
    .navigation-mobile__item--sub {
      padding: 0;
      margin-bottom: 0; }
    .navigation-mobile__item--active {
      color: #ffd58c; }
  .navigation-mobile__sub {
    font-size: 0;
    height: 0;
    transition: all 0.2s; }
    .navigation-mobile__sub--active {
      height: auto;
      font-size: 0.9rem;
      margin-top: 1rem;
      margin-bottom: 0;
      padding: 0.8rem 0 0 0.5rem;
      border-top: 1px solid #ccc; }
  .navigation-mobile__logo {
    width: 40%; }
  .navigation-mobile__actions {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-size: 3rem; }

.navigation-desktop {
  display: none;
  position: relative; }
  @media only screen and (min-width: 60em) {
    .navigation-desktop {
      display: block; } }
  .navigation-desktop__logo {
    position: absolute;
    text-decoration: none;
    display: flex;
    align-items: center;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right bottom, #4380c2, #31587f);
    padding: 0.8rem 4rem;
    -webkit-clip-path: polygon(0 0, 93% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 93% 0, 100% 100%, 0% 100%);
    width: 35vw; }
    .navigation-desktop__logo img {
      width: 15%;
      margin-right: 1rem; }
    .navigation-desktop__logo h2 {
      color: #fff;
      font-size: 0.8rem; }
      @media only screen and (min-width: 78.13em) {
        .navigation-desktop__logo h2 {
          font-size: 1.2rem; } }
  .navigation-desktop__social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #252122;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem; }
    .navigation-desktop__social a {
      cursor: pointer;
      text-decoration: none;
      color: #fff;
      font-size: 1.2rem;
      margin-left: 1rem;
      transition: all 0.1s ease-in; }
      .navigation-desktop__social a:hover {
        color: #4380c2; }
    .navigation-desktop__social--phone {
      font-size: 0.8rem !important;
      margin-left: 0.3rem !important;
      margin-right: 1rem; }
  .navigation-desktop__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #352e30; }
  .navigation-desktop__item {
    position: relative;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    margin-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: all 0.2s ease-in; }
    .navigation-desktop__item span {
      display: block;
      position: absolute;
      opacity: 0;
      bottom: 0;
      width: 100%;
      height: 0.2rem;
      background-color: #ffd58c;
      transition: all 0.2s ease-in; }
    .navigation-desktop__item--active {
      color: #ffd58c; }
      .navigation-desktop__item--active span {
        opacity: 1;
        bottom: 0.7rem; }
    .navigation-desktop__item:hover {
      color: #ffd58c; }
  .navigation-desktop__item:hover span {
    opacity: 1;
    bottom: 0.7rem; }
  .navigation-desktop__sub-list {
    position: absolute;
    bottom: -6rem;
    background: #352e30;
    padding: 1rem;
    border-radius: 3px;
    z-index: 10; }
  .navigation-desktop__sub-item {
    width: 10rem;
    display: block;
    text-decoration: none;
    color: #fff;
    transition: all 0.1s ease-in; }
    .navigation-desktop__sub-item:not(:last-child) {
      margin-bottom: 1rem; }
    .navigation-desktop__sub-item:hover {
      color: #ffd58c; }

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 90; }
  .overlay--dark {
    background-color: rgba(0, 0, 0, 0.7); }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #252122;
  padding: 2rem;
  align-items: center; }
  .footer__list {
    display: flex;
    flex-direction: column; }
    @media only screen and (min-width: 60em) {
      .footer__list--mobile {
        display: none; } }
    .footer__list--desktop {
      display: none; }
      @media only screen and (min-width: 60em) {
        .footer__list--desktop {
          display: flex; } }
  .footer__item {
    position: relative;
    text-align: center;
    display: block;
    text-decoration: none;
    color: #fff;
    cursor: pointer; }
    .footer__item:not(:last-child) {
      margin-bottom: 1rem; }
      @media only screen and (min-width: 60em) {
        .footer__item:not(:last-child) {
          margin-bottom: 0;
          margin-right: 1rem; } }
    .footer__item--sub {
      position: absolute;
      bottom: -5rem;
      left: -3rem;
      background-color: #252122; }
  .footer__logo {
    width: 30%;
    margin: 2rem 0; }
    @media only screen and (min-width: 60em) {
      .footer__logo {
        width: 10%; } }
  .footer__copyright {
    align-self: flex-start;
    color: #fff;
    font-size: 0.7rem; }

.form__group {
  margin-bottom: 1rem; }

.form__label {
  display: block;
  margin-bottom: 0.7rem; }

.form__group-textarea {
  position: relative;
  height: 10rem;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #e0e0df; }

.form__input {
  width: 100%;
  font-size: 1rem;
  padding: 0.8rem;
  outline: none;
  border: none;
  border-radius: 4px; }
  .form__input--border {
    border: 1px solid #252122; }

.form__input-noborder, .form__input-textarea {
  width: 100%;
  font-size: 1rem;
  border: none;
  outline: none;
  resize: none; }

.form__input-noborder {
  border-bottom: 1px solid #e0e0df;
  padding-bottom: 0.3rem; }

.form__input-textarea {
  position: absolute;
  height: 10rem;
  bottom: -8.6rem;
  width: 100%; }

.home {
  /******
  BANNER
  *******/
  /****
  INTRO
  *****/
  /**********
    SERVICES
  ***********/
  /**************
    TESTIMONIALS
  ***************/
  /*******
    BLOG
  ********/
  /*********
    GALLERY
  **********/ }
  .home__banner {
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url("../images/banner_1.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 2rem;
    padding-bottom: 2rem; }
    @media only screen and (min-width: 60em) {
      .home__banner {
        flex-direction: row;
        height: 24rem;
        padding-top: 4rem; } }
    .home__banner::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 1; }
    .home__banner-header {
      display: flex;
      position: relative;
      z-index: 5;
      flex-direction: column;
      align-items: center; }
      @media only screen and (min-width: 60em) {
        .home__banner-header {
          align-items: flex-start;
          padding-left: 4rem;
          width: 50%; } }
      .home__banner-header h1 {
        text-align: center;
        color: #fff;
        width: calc(100% - 2rem);
        font-size: 2rem;
        margin-bottom: 1rem; }
        @media only screen and (min-width: 60em) {
          .home__banner-header h1 {
            text-align: left;
            font-size: 3rem; } }
      .home__banner-header a {
        border-radius: 3px;
        padding: 0.5rem 1rem;
        font-size: 0.7rem; }
    .home__banner-quote-desktop {
      display: none;
      position: absolute;
      z-index: 5;
      right: 4rem;
      background-color: #252122;
      width: 40%;
      padding: 9rem 1rem 2rem 1rem;
      border-radius: 4px;
      box-shadow: 2px 2px 10px -1px #000000;
      overflow: hidden; }
      @media only screen and (min-width: 60em) {
        .home__banner-quote-desktop {
          display: flex;
          flex-direction: column; } }
      .home__banner-quote-desktop a {
        margin-top: 1rem;
        align-self: flex-end; }
      .home__banner-quote-desktop-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        font-weight: normal;
        color: #fff;
        background-color: #4380c2;
        padding-top: 0.8rem;
        padding-bottom: 1.4rem; }
        .home__banner-quote-desktop-header svg {
          position: absolute;
          bottom: -1.5rem;
          left: 0;
          width: 100%; }
    .home__banner-quote-mobile {
      position: relative;
      z-index: 5;
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center; }
      @media only screen and (min-width: 60em) {
        .home__banner-quote-mobile {
          display: none; } }
      .home__banner-quote-mobile--header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem; }
        .home__banner-quote-mobile--header div {
          width: 4rem;
          height: 0.1rem;
          background-color: #ffd58c; }
        .home__banner-quote-mobile--header h4 {
          margin: 0 1rem;
          font-size: 0.9rem;
          color: #fff; }
      .home__banner-quote-mobile a {
        font-size: 0.6rem; }
  .home__intro, .home__services, .home__testimonials, .home__blog {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  @media only screen and (min-width: 60em) {
    .home__intro {
      display: flex;
      padding-top: 5rem;
      justify-content: space-between; }
      .home__intro-content {
        width: calc(60% - 1rem); } }
  .home__intro-content h2 {
    font-size: 1.2rem;
    position: relative;
    margin-bottom: 1rem; }
    @media only screen and (min-width: 60em) {
      .home__intro-content h2 {
        font-size: 2rem; } }
  .home__intro-image {
    display: none;
    width: calc(40% - 1rem);
    height: 20vw;
    background-image: url("../images/intro.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 2px 2px 10px -1px #000000; }
    @media only screen and (min-width: 60em) {
      .home__intro-image {
        display: block; } }
  .home__services {
    background-color: #323232; }
    .home__services-description {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem; }
      @media only screen and (min-width: 60em) {
        .home__services-description {
          flex-direction: row;
          justify-content: space-between; }
          .home__services-description--header {
            width: 35%;
            border-right: 1px solid #ffd58c; } }
      .home__services-description h5 {
        color: #ffd58c;
        font-size: 0.8rem; }
        @media only screen and (min-width: 60em) {
          .home__services-description h5 {
            font-size: 1rem; } }
      .home__services-description h4,
      .home__services-description p {
        color: #fff; }
      .home__services-description h4 {
        width: 70%;
        font-size: 1.2rem;
        margin-bottom: 1rem; }
        @media only screen and (min-width: 60em) {
          .home__services-description h4 {
            font-size: 1.5rem;
            width: 100%; } }
      @media only screen and (min-width: 60em) {
        .home__services-description p {
          width: 60%; } }
    .home__services-options {
      display: flex;
      flex-direction: column; }
      @media only screen and (min-width: 60em) {
        .home__services-options--showcase {
          display: flex;
          justify-content: space-between;
          margin-top: 2rem; } }
      .home__services-options--showcase-card {
        background: #fff;
        border-radius: 4px;
        padding: 1rem; }
        @media only screen and (min-width: 60em) {
          .home__services-options--showcase-card {
            width: calc(33.33% - 1rem); } }
        .home__services-options--showcase-card:not(:last-child) {
          margin-bottom: 1rem; }
          @media only screen and (min-width: 60em) {
            .home__services-options--showcase-card:not(:last-child) {
              margin-bottom: 0; } }
      .home__services-options--showcase h1 {
        margin-bottom: 1rem; }
      .home__services-options--showcase p {
        font-size: 1.1rem; }
    .home__services a {
      margin-top: 2rem;
      align-self: center; }
  .home__testimonials {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #252122;
    z-index: 1;
    overflow: hidden; }
    .home__testimonials--bgimage {
      display: block;
      position: absolute;
      width: 50%;
      left: 50%;
      z-index: -1;
      opacity: 0.2; }
    .home__testimonials-header h5 {
      color: #ffd58c;
      font-size: 0.8rem; }
      @media only screen and (min-width: 60em) {
        .home__testimonials-header h5 {
          font-size: 1rem; } }
    .home__testimonials-header h4,
    .home__testimonials-header p {
      color: #fff; }
    .home__testimonials-header h4 {
      width: 70%;
      font-size: 1.2rem;
      margin-bottom: 1rem; }
      @media only screen and (min-width: 60em) {
        .home__testimonials-header h4 {
          font-size: 1.5rem; } }
    .home__testimonials-comments {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      grid-gap: 1rem;
      margin-bottom: 1rem; }
    .home__testimonials a {
      align-self: center;
      color: #ffd58c;
      text-decoration: none;
      border-bottom: 1px solid #ffd58c; }
  .home__blog {
    text-align: center; }
    @media only screen and (min-width: 60em) {
      .home__blog {
        padding-top: 4rem;
        padding-bottom: 4rem; } }
    .home__blog span i {
      font-size: 6rem;
      color: #ffd58c;
      margin-bottom: 1rem; }
      @media only screen and (min-width: 60em) {
        .home__blog span i {
          font-size: 10rem; } }
    .home__blog h3 {
      margin-bottom: 1rem; }
      @media only screen and (min-width: 60em) {
        .home__blog h3 {
          font-size: 2rem; } }
    .home__blog a {
      border-radius: 4rem;
      font-size: 0.8rem; }
      @media only screen and (min-width: 60em) {
        .home__blog a {
          font-size: 1.5rem; } }
  .home__gallery {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #323232;
    margin-top: 1rem;
    padding-top: 6rem;
    padding-bottom: 2rem; }
    @media only screen and (min-width: 60em) {
      .home__gallery {
        padding-top: 10rem; } }
    .home__gallery svg {
      position: absolute;
      left: 0;
      top: -0.2rem; }
    .home__gallery-header h5 {
      color: #ffd58c;
      font-size: 0.8rem; }
      @media only screen and (min-width: 60em) {
        .home__gallery-header h5 {
          font-size: 1rem; } }
    .home__gallery-header h4,
    .home__gallery-header p {
      color: #fff; }
    .home__gallery-header h4 {
      width: 70%;
      font-size: 1.2rem;
      margin-bottom: 1rem; }
      @media only screen and (min-width: 60em) {
        .home__gallery-header h4 {
          font-size: 1.5rem; } }
    .home__gallery-showcase {
      display: flex;
      flex-direction: column; }
      @media only screen and (min-width: 60em) {
        .home__gallery-showcase {
          flex-direction: row;
          justify-content: space-between; } }
      .home__gallery-showcase img {
        width: 100%;
        height: 20rem;
        border: 1px solid #ffd58c;
        object-fit: cover;
        object-position: center; }
        @media only screen and (min-width: 60em) {
          .home__gallery-showcase img {
            width: calc(33.333% - 1rem); } }
        .home__gallery-showcase img:not(:last-child) {
          margin-bottom: 1.5rem; }
          @media only screen and (min-width: 60em) {
            .home__gallery-showcase img:not(:last-child) {
              margin-bottom: 0; } }
    .home__gallery a {
      margin-top: 1rem;
      text-decoration: none;
      color: #ffd58c;
      align-self: center;
      border-bottom: 1px solid #ffd58c; }

.services__banner {
  display: flex;
  align-items: center;
  position: relative;
  background-image: url("../images/service_page_banner.jpeg");
  background-size: cover;
  background-position: center;
  height: 12rem; }
  .services__banner::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); }
  .services__banner-text {
    position: relative;
    z-index: 1; }
    .services__banner-text h5 {
      color: #ffd58c;
      font-size: 1.2rem; }
    .services__banner-text h4 {
      color: #fff;
      font-size: 2rem; }

@media only screen and (min-width: 60em) {
  .services__desc {
    width: calc(75% - 1rem); } }

.services__circle {
  display: flex;
  justify-content: center; }
  @media only screen and (min-width: 60em) {
    .services__circle {
      justify-content: flex-start;
      align-items: center;
      width: calc(25% - 1rem);
      border-right: 1px solid #fff; } }

.services__1, .services__2, .services__3 {
  position: relative;
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 60em) {
    .services__1, .services__2, .services__3 {
      flex-direction: row;
      justify-content: space-between; } }
  .services__1 span, .services__2 span, .services__3 span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9rem;
    height: 9rem;
    border-radius: 50%; }
    .services__1 span::after, .services__2 span::after, .services__3 span::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 10rem;
      height: 10rem;
      border-radius: 50%; }
    .services__1 span h2, .services__2 span h2, .services__3 span h2 {
      text-align: center;
      width: 80%;
      font-size: 1rem; }

.services__1 {
  background-color: #4380c2;
  padding-top: 2rem;
  padding-bottom: 5rem; }
  .services__1 p {
    color: #fff; }
  .services__1 span {
    background-color: #fff;
    margin-bottom: 1.5rem; }
    .services__1 span::after {
      border: 1px solid #fff; }

.services__2 {
  padding-top: 9rem;
  padding-bottom: 6rem;
  background: linear-gradient(115deg, #fff 0%, #fff 50%, rgba(255, 213, 140, 0.2) 50%); }
  .services__2--svg-top, .services__2--svg-bottom {
    position: absolute; }
  .services__2--svg-top {
    top: 0;
    left: 0; }
  .services__2--svg-bottom {
    bottom: 0;
    left: 0; }
  @media only screen and (min-width: 60em) {
    .services__2 {
      padding-bottom: 15rem; }
      .services__2 .services__desc {
        width: 70%;
        border-right: 1px solid #ffd58c;
        padding-right: 1rem; } }
  .services__2 .services__circle {
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 9rem;
    border-right: none; }
    @media only screen and (min-width: 60em) {
      .services__2 .services__circle {
        top: 1rem;
        left: 85%; } }
    .services__2 .services__circle span {
      background-color: #ffd58c; }
      .services__2 .services__circle span::after {
        border: 1px solid #ffd58c; }

.services__3 {
  background-color: #323232;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .services__3 p {
    color: #fff; }
  .services__3 span {
    background-color: #fff;
    margin-bottom: 1.5rem; }
    .services__3 span::after {
      border: 1px solid #fff; }

.services__quote {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .services__quote h2 {
    font-size: 1.3rem;
    margin-bottom: 1rem; }
    @media only screen and (min-width: 60em) {
      .services__quote h2 {
        font-size: 1.8rem; } }
  .services__quote a {
    font-size: 0.8rem;
    box-shadow: 2px 2px 10px -1px #000000; }
    @media only screen and (min-width: 60em) {
      .services__quote a {
        font-size: 1rem; } }

.about__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #edecec;
  text-align: center;
  padding: 3rem 2rem; }
  .about__header h1 {
    display: flex;
    align-items: center;
    font-size: 1.8rem; }
    .about__header h1 span {
      display: block;
      width: 3rem;
      height: 0.1rem;
      background-color: #000; }
      .about__header h1 span:first-child {
        margin-right: 1rem; }
      .about__header h1 span:nth-child(2) {
        margin-left: 1rem; }

.about__content {
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .about__content h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem; }

@media only screen and (min-width: 60em) {
  .contact__form-container {
    display: flex; } }

.contact__form, .contact__success {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem; }

@media only screen and (min-width: 60em) {
  .contact__form {
    width: 50%; } }

.contact__form h2,
.contact__form p {
  text-align: center; }

.contact__form p {
  margin-bottom: 2rem; }

.contact__form button {
  outline: none;
  border: none;
  font-size: 1.2rem;
  margin-top: 2rem; }

.contact__form-question {
  visibility: hidden;
  background-color: rgba(255, 213, 140, 0.5); }
  @media only screen and (min-width: 60em) {
    .contact__form-question {
      visibility: visible;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%; }
      .contact__form-question span {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 10rem;
        font-weight: bold;
        width: 12rem;
        height: 12rem;
        border-radius: 50%;
        background-color: #4380c2; }
        .contact__form-question span::after {
          content: "";
          position: absolute;
          width: 13rem;
          height: 13rem;
          border-radius: 50%;
          border: 1px solid #4380c2; } }

.contact__quote {
  background-color: #4380c2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0; }
  .contact__quote h1 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 1rem; }

.contact__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .contact__social h2 {
    font-size: 1.5rem; }
  .contact__social a {
    font-size: 5rem;
    color: #3b5998; }

.contact__success {
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 8rem; }
  .contact__success span {
    font-size: 6rem;
    color: #5de043; }
  .contact__success p {
    font-size: 1.4rem; }

.gallery {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 100%; }
  .gallery__grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 40vw;
    grid-gap: 1rem;
    height: 100%; }
    @media only screen and (min-width: 60em) {
      .gallery__grid {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 20vw; } }
  .gallery h1 {
    font-size: 1.2rem; }
  .gallery__image-container {
    position: relative;
    cursor: pointer;
    height: 100%;
    transition: all 0.2s ease-in-out; }
    @media only screen and (min-width: 60em) {
      .gallery__image-container:hover {
        transform: scale(0.98);
        border: 1px solid #ffd58c;
        box-shadow: 2px 2px 10px -1px #000000; } }
    .gallery__image-container img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center; }
  .gallery__modal {
    position: fixed;
    padding: 0.6rem;
    background-color: #fff;
    border-radius: 3px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    top: 1rem;
    z-index: 95;
    transition: all 0.3s ease-in; }
    @media only screen and (min-width: 60em) {
      .gallery__modal {
        overflow: hidden;
        width: 45%;
        max-height: 37rem; } }
    .gallery__modal img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover; }
    .gallery__modal span {
      position: absolute;
      cursor: pointer;
      font-size: 0.7rem;
      font-weight: bold;
      text-transform: uppercase;
      top: 1rem;
      right: 1rem;
      color: #fff;
      background: rgba(0, 0, 0, 0.8);
      padding: 0.5rem;
      border-radius: 3px; }

.blog {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .blog__grid-container {
    display: grid;
    grid-row-gap: 1rem; }
  .blog__grid {
    display: grid;
    grid-gap: 1rem; }
    .blog__grid--card {
      padding: 4rem 1rem;
      position: relative;
      overflow: hidden;
      border-radius: 1rem;
      background-color: #252122; }
      .blog__grid--card-title {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #4380c2;
        padding: 0.5rem 1rem;
        color: #fff;
        font-size: 1.3rem; }
      .blog__grid--card-body {
        color: #fff;
        white-space: pre-wrap; }
      .blog__grid--card-footer {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
        position: absolute;
        width: calc(100% - 2rem);
        bottom: 0; }
        .blog__grid--card-footer a {
          text-decoration: none;
          color: #ffd58c; }
        .blog__grid--card-footer span {
          color: #fff;
          font-style: italic;
          font-weight: lighter; }
      @media only screen and (min-width: 60em) {
        .blog__grid--card {
          height: 100%; } }
    @media only screen and (min-width: 60em) {
      .blog__grid {
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(6, 4rem); }
        .blog__grid--card:nth-child(1) {
          grid-column: 1 / 5;
          grid-row: 1 / -1; }
        .blog__grid--card:nth-child(2) {
          grid-column: 5 / -1;
          grid-row: 1 / 4; }
        .blog__grid--card:nth-child(3) {
          grid-column: 5 / -1;
          grid-row: 4 / -1; } }
  .blog__buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem; }
    .blog__buttons-container button:not(:last-child) {
      margin-right: 1rem; }
  .blog__edit {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .blog__label {
    display: block;
    margin-bottom: 0.3rem; }
  .blog__input, .blog__text-area {
    width: 100%;
    resize: none;
    outline: none;
    padding: 0.5rem;
    border-radius: 3px;
    font-size: 1rem;
    border: 1px solid #252122; }

.admin {
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .admin h2 {
    text-align: center;
    margin-bottom: 1rem; }
    .admin h2 span {
      margin-right: 1rem; }
  .admin form {
    width: 90%;
    margin: 0 auto; }
    @media only screen and (min-width: 60em) {
      .admin form {
        width: 60%; } }
  .admin button {
    border: none;
    outline: none;
    font-size: 1rem;
    align-self: flex-start; }

.dashboard {
  padding-bottom: 2rem; }
  .dashboard__nav {
    display: flex;
    justify-content: space-between;
    background-color: #252122;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #fff;
    box-shadow: 2px 2px 10px -1px #000000;
    margin-bottom: 2rem; }
    .dashboard__nav span {
      cursor: pointer;
      transition: all 0.2s; }
      .dashboard__nav span:hover {
        color: #e04343; }
  .dashboard__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 1rem; }
    .dashboard__content-manage {
      padding: 1rem;
      width: 100%;
      border: 1px solid #252122;
      border-radius: 3px; }
      .dashboard__content-manage__header {
        text-align: center;
        font-weight: bold;
        font-size: 1.2rem; }
        @media only screen and (min-width: 60em) {
          .dashboard__content-manage__header {
            font-size: 1.5rem; } }
    .dashboard__content-actions {
      display: flex; }
      .dashboard__content-actions a {
        text-decoration: none;
        color: #252122; }
      .dashboard__content-actions span,
      .dashboard__content-actions a {
        cursor: pointer;
        text-align: center;
        width: 50%;
        padding: 2rem; }
        @media only screen and (min-width: 60em) {
          .dashboard__content-actions span p,
          .dashboard__content-actions a p {
            font-size: 1.2rem; } }
        .dashboard__content-actions span i,
        .dashboard__content-actions a i {
          font-size: 2rem;
          margin-bottom: 1rem; }
          @media only screen and (min-width: 60em) {
            .dashboard__content-actions span i,
            .dashboard__content-actions a i {
              font-size: 3rem; } }
        .dashboard__content-actions span span,
        .dashboard__content-actions a span {
          color: #c01e1e;
          font-size: 0.6rem;
          display: block;
          width: 100%;
          padding: 0; }
          @media only screen and (min-width: 60em) {
            .dashboard__content-actions span span,
            .dashboard__content-actions a span {
              font-size: 0.7rem; } }
  .dashboard__add-post {
    padding-top: 2rem;
    padding-bottom: 2rem; }
    .dashboard__add-post__header {
      text-align: center;
      margin-bottom: 1rem; }
    .dashboard__add-post form button {
      outline: none;
      font-size: 1rem;
      border: none;
      align-self: flex-end; }
  .dashboard__success {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .dashboard__success h3 {
      font-size: 1.5rem;
      margin-bottom: 1rem; }
    .dashboard__success p,
    .dashboard__success a {
      color: #3b5998;
      font-weight: bold;
      text-decoration: none; }
    .dashboard__success p {
      cursor: pointer;
      margin-bottom: 1rem; }
  .dashboard__share {
    border: none; }
    .dashboard__share-btn p {
      margin-top: 1rem;
      text-decoration: none;
      color: #252122; }
  .dashboard__view-posts {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem; }
    .dashboard__view-posts-grid {
      margin-top: 1.5rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      grid-gap: 1rem; }
    .dashboard__view-posts__posts {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      border-radius: 4px;
      box-shadow: 2px 2px 10px -1px #000000; }
    .dashboard__view-posts__header {
      font-size: 1.5rem; }
    .dashboard__view-posts__date {
      margin-bottom: 1rem; }
      .dashboard__view-posts__date p {
        font-size: 0.8rem;
        font-style: italic; }
    .dashboard__view-posts__body {
      white-space: pre-wrap;
      margin-bottom: 1rem; }
    .dashboard__view-posts__actions {
      margin-top: auto;
      display: flex;
      justify-content: flex-end;
      border-top: 1px solid #252122;
      padding-top: 1rem; }
      .dashboard__view-posts__actions button,
      .dashboard__view-posts__actions a {
        cursor: pointer;
        border-radius: 4px;
        font-size: 1rem; }
        .dashboard__view-posts__actions button:not(:last-child),
        .dashboard__view-posts__actions a:not(:last-child) {
          margin-right: 1rem; }
    .dashboard__view-posts__alert {
      position: fixed;
      display: flex;
      flex-direction: column;
      left: 50%;
      transform: translateX(-50%);
      width: 25rem;
      background-color: white;
      z-index: 95;
      padding: 1rem;
      border-radius: 4px; }
      .dashboard__view-posts__alert h2 {
        font-size: 1.2rem; }
      .dashboard__view-posts__alert-actions {
        margin-top: 1rem;
        display: flex;
        justify-content: center; }
        .dashboard__view-posts__alert-actions button {
          cursor: pointer;
          border-radius: 4px;
          font-size: 1rem; }
          .dashboard__view-posts__alert-actions button:not(:last-child) {
            margin-right: 1rem; }
  .dashboard__manage-gallery {
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem; }
    .dashboard__manage-gallery__upload {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      padding: 1rem;
      width: 100%; }
      .dashboard__manage-gallery__upload input {
        visibility: hidden; }
      .dashboard__manage-gallery__upload label {
        cursor: pointer;
        margin: 0 auto; }
        .dashboard__manage-gallery__upload label i {
          font-size: 4rem; }
      .dashboard__manage-gallery__upload h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem; }
      .dashboard__manage-gallery__upload button {
        align-self: center;
        font-size: 1rem; }
    .dashboard__manage-gallery__images {
      margin-top: 3rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 40vw;
      grid-gap: 1rem; }
      @media only screen and (min-width: 60em) {
        .dashboard__manage-gallery__images {
          grid-template-columns: repeat(4, 1fr);
          grid-auto-rows: 20vw; } }
      .dashboard__manage-gallery__images-container {
        position: relative;
        border: 1px solid #252122;
        box-shadow: 2px 2px 10px -1px #000000;
        height: 100%; }
        .dashboard__manage-gallery__images-container span {
          cursor: pointer;
          position: absolute;
          top: 1rem;
          right: 1rem;
          background: rgba(0, 0, 0, 0.8);
          padding: 0.4rem 0.8rem;
          border-radius: 4px; }
          .dashboard__manage-gallery__images-container span i {
            color: #fff;
            font-size: 1rem;
            transition: all 0.1s ease-in; }
        .dashboard__manage-gallery__images-container span:hover i {
          color: #e04343; }
        .dashboard__manage-gallery__images-container img {
          object-fit: cover;
          object-position: center;
          width: 100%;
          height: 100%; }
    .dashboard__manage-gallery__alert {
      display: flex;
      flex-direction: column;
      position: fixed;
      z-index: 95;
      background-color: #fff;
      border-radius: 4px;
      padding: 1rem;
      left: 50%;
      transform: translateX(-50%);
      width: 90%; }
      @media only screen and (min-width: 60em) {
        .dashboard__manage-gallery__alert {
          width: 50%; } }
      .dashboard__manage-gallery__alert h3 {
        font-size: 0.8rem; }
        @media only screen and (min-width: 60em) {
          .dashboard__manage-gallery__alert h3 {
            font-size: 1rem; } }
      .dashboard__manage-gallery__alert-actions {
        margin-top: 1rem; }
      .dashboard__manage-gallery__alert button {
        font-size: 1rem;
        border-radius: 3px; }
        .dashboard__manage-gallery__alert button:not(:last-child) {
          margin-right: 1rem; }

.view-blog {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .view-blog h1 {
    font-size: 2rem; }
  .view-blog h3 {
    font-weight: normal;
    font-size: 1rem; }
  .view-blog__edited {
    display: flex;
    font-style: italic;
    font-size: 0.8rem; }
    .view-blog__edited p {
      font-style: normal;
      margin-right: 0.6rem; }
  .view-blog__content {
    border-top: 1px solid #252122;
    margin-top: 2rem;
    padding-top: 2rem;
    white-space: pre-wrap; }
  .view-blog__share {
    margin-top: 0.7rem; }
    .view-blog__share span {
      display: flex;
      align-items: center; }
      .view-blog__share span p {
        font-style: normal;
        font-weight: bold;
        margin-right: 0.8rem;
        font-size: 0.8rem; }
  .view-blog__admin {
    margin-top: 1rem; }
    .view-blog__admin a {
      text-decoration: none;
      color: #252122;
      margin-right: 1rem; }
    .view-blog__admin button {
      cursor: pointer;
      border: none;
      font-size: 1rem;
      color: #c01e1e; }
  .view-blog__alert {
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
    background-color: #fff;
    min-width: 25rem;
    z-index: 95;
    padding: 1rem;
    text-align: center; }
    .view-blog__alert h2 {
      font-size: 1rem;
      margin-bottom: 1rem; }
    .view-blog__alert button {
      border: none;
      outline: none;
      cursor: pointer;
      padding: 0.4rem 1rem;
      font-size: 1rem;
      border-radius: 3px; }
    .view-blog__alert button:nth-of-type(1) {
      border: 1px solid #c01e1e;
      margin-right: 1rem; }
    .view-blog__alert button:nth-of-type(2) {
      border: 1px solid #4380c2; }

.quote {
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .quote button {
    align-self: flex-start;
    font-size: 1rem; }
  .quote__success {
    text-align: center; }
    .quote__success span {
      font-size: 6rem;
      color: #5de043; }
    .quote__success p {
      font-size: 1.4rem;
      margin-bottom: 1rem; }

.not-found {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center; }
  .not-found h1 {
    font-size: 4rem;
    color: #c01e1e; }
  .not-found p:nth-of-type(1) {
    font-size: 1.5rem;
    margin-bottom: 1rem; }
  .not-found a {
    color: #4380c2; }

.reviews {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #352e30; }
  .reviews h1 {
    color: #4380c2; }
  .reviews p {
    color: #fff;
    font-size: 1.2rem; }
  .reviews__grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem; }
    @media only screen and (min-width: 60em) {
      .reviews__grid {
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); } }
  .reviews__card-name {
    font-weight: lighter;
    font-size: 1rem;
    color: #fff;
    margin-bottom: 1rem; }
  .reviews__card-comment {
    position: relative;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.7rem;
    margin-bottom: 1rem;
    white-space: pre-wrap; }
    .reviews__card-comment::after {
      content: "";
      position: absolute;
      top: -0.4rem;
      left: 1.3rem;
      width: 1rem;
      height: 1rem;
      background-color: #fff;
      transform: rotate(45deg); }
