.footer {
  display: flex;
  flex-direction: column;
  background-color: $color-dark-primary;
  padding: 2rem;
  align-items: center;

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    text-align: center;
    display: block;
    text-decoration: none;
    color: #fff;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__logo {
    width: 30%;
    margin: 2rem 0;
  }

  &__copyright {
    align-self: flex-start;
    color: #fff;
    font-size: 0.7rem;
  }
}
