.home {
  /******
  BANNER
  *******/
  &__banner {
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url("../images/banner_1.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include respond(medium) {
      flex-direction: row;
      height: 24rem;
      padding-top: 4rem;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 1;
    }

    &-header {
      display: flex;
      position: relative;
      z-index: 5;
      flex-direction: column;
      align-items: center;

      @include respond(medium) {
        align-items: flex-start;
        padding-left: 4rem;
        width: 50%;
      }

      h1 {
        text-align: center;
        color: #fff;
        width: calc(100% - 2rem);
        font-size: 2.3rem;
        margin-bottom: 1rem;

        @include respond(medium) {
          text-align: left;
          font-size: 3rem;
        }
      }

      a {
        border-radius: 3px;
        padding: 0.5rem 1rem;
        font-size: 0.7rem;
      }
    }

    // Quote for desktio view
    &-quote-desktop {
      display: none;
      position: absolute;
      z-index: 5;
      right: 4rem;
      background-color: $color-dark-primary;
      width: 40%;
      padding: 9rem 1rem 2rem 1rem;
      border-radius: 4px;
      box-shadow: $box-shadow;
      overflow: hidden;

      @include respond(medium) {
        display: flex;
        flex-direction: column;
      }

      a {
        margin-top: 1rem;
        align-self: flex-end;
      }

      &-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        font-weight: normal;
        color: #fff;
        background-color: $color-blue-primary;
        padding-top: 0.8rem;
        padding-bottom: 1.4rem;

        svg {
          position: absolute;
          bottom: -1.5rem;
          left: 0;
          width: 100%;
        }
      }
    }

    // Quote for mobile view
    &-quote-mobile {
      position: relative;
      z-index: 5;
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include respond(medium) {
        display: none;
      }

      &--header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;

        div {
          width: 6rem;
          height: 0.1rem;
          background-color: $color-tan-primary;
        }

        h4 {
          margin: 0 1rem;
          font-size: 1rem;
          color: #fff;
        }
      }

      a {
        font-size: 0.7rem;
      }
    }
  }

  &__intro,
  &__services,
  &__testimonials,
  &__blog {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  /****
  INTRO
  *****/
  &__intro {
    @include respond(medium) {
      display: flex;
      padding-top: 5rem;
      justify-content: space-between;

      &-content {
        width: calc(60% - 1rem);
      }
    }

    &-content {
      h2 {
        font-size: 1.2rem;
        position: relative;
        margin-bottom: 1rem;

        @include respond(medium) {
          font-size: 2rem;
        }
      }
    }

    &-image {
      display: none;
      width: calc(40% - 1rem);
      height: 20vw;
      background-image: url("../images/intro.jpg");
      background-size: cover;
      background-position: center;
      box-shadow: $box-shadow;

      @include respond(medium) {
        display: block;
      }
    }
  }

  /**********
    SERVICES
  ***********/
  &__services {
    background-color: $color-dark-tertiary;

    &-description {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      @include respond(medium) {
        flex-direction: row;
        justify-content: space-between;

        &--header {
          width: 35%;
          border-right: 1px solid $color-tan-primary;
          // background-color: yellow;
        }
      }

      h5 {
        color: $color-tan-primary;
        font-size: 0.8rem;

        @include respond(medium) {
          font-size: 1rem;
        }
      }

      h4,
      p {
        color: #fff;
      }

      h4 {
        width: 70%;
        font-size: 1.2rem;
        margin-bottom: 1rem;

        @include respond(medium) {
          font-size: 1.5rem;
          width: 100%;
        }
      }

      p {
        @include respond(medium) {
          width: 60%;
        }
      }
    }

    &-options {
      display: flex;
      flex-direction: column;

      &--showcase {
        @include respond(medium) {
          display: flex;
          justify-content: space-between;
          margin-top: 2rem;
        }

        &-card {
          background: #fff;
          border-radius: 4px;
          padding: 1rem;

          @include respond(medium) {
            width: calc(33.33% - 1rem);
          }

          &:not(:last-child) {
            margin-bottom: 1rem;
            @include respond(medium) {
              margin-bottom: 0;
            }
          }
        }

        h1 {
          margin-bottom: 1rem;
        }

        p {
          font-size: 1.1rem;
        }
      }
    }

    a {
      margin-top: 2rem;
      align-self: center;
    }
  }

  /**************
    TESTIMONIALS
  ***************/
  &__testimonials {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: $color-dark-primary;
    z-index: 1;
    overflow: hidden;

    &--bgimage {
      display: block;
      position: absolute;
      width: 50%;
      left: 50%;
      z-index: -1;
      opacity: 0.2;
    }

    &-header {
      h5 {
        color: $color-tan-primary;
        font-size: 0.8rem;

        @include respond(medium) {
          font-size: 1rem;
        }
      }

      h4,
      p {
        color: #fff;
      }

      h4 {
        width: 70%;
        font-size: 1.2rem;
        margin-bottom: 1rem;

        @include respond(medium) {
          font-size: 1.5rem;
        }
      }
    }

    &-comments {
      display: flex;
      flex-direction: column;

      @include respond(medium) {
        flex-direction: row;
        justify-content: space-between;
      }

      &--container {
        @include respond(medium) {
          width: calc(50% - 1rem);
        }
        h5 {
          font-weight: lighter;
          font-size: 1rem;
          color: #fff;
          margin-bottom: 1rem;
        }
      }

      &--content {
        position: relative;
        background-color: #fff;
        padding: 1rem;
        border-radius: 1rem;
        margin-bottom: 1rem;

        &::after {
          content: "";
          position: absolute;
          top: -0.4rem;
          left: 1.3rem;
          width: 1rem;
          height: 1rem;
          background-color: #fff;
          transform: rotate(45deg);
        }
      }
    }

    a {
      align-self: center;
      color: $color-tan-primary;
      text-decoration: none;
      border-bottom: 1px solid $color-tan-primary;
    }
  }

  /*******
    BLOG
  ********/
  &__blog {
    @include respond(medium) {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
    text-align: center;

    span i {
      font-size: 6rem;
      color: $color-tan-primary;
      margin-bottom: 1rem;

      @include respond(medium) {
        font-size: 10rem;
      }
    }

    h3 {
      margin-bottom: 1rem;

      @include respond(medium) {
        font-size: 2rem;
      }
    }

    a {
      border-radius: 4rem;
      font-size: 0.8rem;

      @include respond(medium) {
        font-size: 1.5rem;
      }
    }
  }

  /*********
    GALLERY
  **********/
  &__gallery {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: $color-dark-tertiary;
    margin-top: 1rem;
    padding-top: 6rem;
    padding-bottom: 2rem;

    @include respond(medium) {
      padding-top: 10rem;
    }

    svg {
      position: absolute;
      left: 0;
      top: -0.2rem;
    }

    &-header {
      h5 {
        color: $color-tan-primary;
        font-size: 0.8rem;

        @include respond(medium) {
          font-size: 1rem;
        }
      }

      h4,
      p {
        color: #fff;
      }

      h4 {
        width: 70%;
        font-size: 1.2rem;
        margin-bottom: 1rem;

        @include respond(medium) {
          font-size: 1.5rem;
        }
      }
    }

    &-showcase {
      display: flex;
      flex-direction: column;

      @include respond(medium) {
        flex-direction: row;
        justify-content: space-between;
      }

      img {
        width: 100%;
        height: 20rem;
        border: 1px solid $color-tan-primary;
        object-fit: cover;
        object-position: center;

        @include respond(medium) {
          width: calc(33.333% - 1rem);
        }

        &:not(:last-child) {
          margin-bottom: 1.5rem;

          @include respond(medium) {
            margin-bottom: 0;
          }
        }
      }
    }
    a {
      margin-top: 1rem;
      text-decoration: none;
      color: $color-tan-primary;
      align-self: center;
      border-bottom: 1px solid $color-tan-primary;
    }
  }
}
