.home {
  /******
  BANNER
  *******/
  &__banner {
    position: relative;
    background-image: url("../images/banner_1.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 2rem;
    padding-bottom: 2rem;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 1;
    }

    &-header {
      display: flex;
      position: relative;
      z-index: 5;
      flex-direction: column;
      align-items: center;

      h1 {
        text-align: center;
        color: #fff;
        width: calc(100% - 2rem);
        font-size: 2.3rem;
        margin-bottom: 1rem;
      }

      a {
        border-radius: 3px;
        padding: 0.5rem 1rem;
        font-size: 0.7rem;
      }
    }

    &-quote-mobile {
      position: relative;
      z-index: 5;
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      &--header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;

        div {
          width: 6rem;
          height: 0.1rem;
          background-color: $color-tan-primary;
        }

        h4 {
          margin: 0 1rem;
          font-size: 1rem;
          color: #fff;
        }
      }

      a {
        font-size: 0.7rem;
      }
    }
  }

  &__intro,
  &__services,
  &__testimonials,
  &__blog {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  /****
  INTRO
  *****/
  &__intro {
    h2 {
      font-size: 1.2rem;
      position: relative;
      margin-bottom: 1rem;
    }
  }

  /**********
    SERVICES
  ***********/
  &__services {
    background-color: $color-dark-tertiary;

    &-description {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      h5 {
        color: $color-tan-primary;
        font-size: 0.8rem;
      }

      h4,
      p {
        color: #fff;
      }

      h4 {
        width: 70%;
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }
    }

    &-options {
      display: flex;
      flex-direction: column;

      &--card {
        background: #fff;
        border-radius: 4px;
        padding: 1rem;

        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }

      h1 {
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.1rem;
      }

      a {
        margin-top: 1rem;
        align-self: center;
      }
    }
  }

  /**************
    TESTIMONIALS
  ***************/
  &__testimonials {
    position: relative;
    background-color: $color-dark-primary;
    z-index: 1;
    overflow: hidden;

    &--bgimage {
      display: block;
      position: absolute;
      width: 50%;
      left: 50%;
      z-index: -1;
      opacity: 0.2;
    }

    &-header {
      h5 {
        color: $color-tan-primary;
        font-size: 0.8rem;
      }

      h4,
      p {
        color: #fff;
      }

      h4 {
        width: 70%;
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }
    }

    &-comments {
      display: flex;
      flex-direction: column;

      h5 {
        font-weight: lighter;
        font-size: 1rem;
        color: #fff;
        margin-bottom: 1rem;
      }

      &--content {
        position: relative;
        background-color: #fff;
        padding: 1rem;
        border-radius: 1rem;
        margin-bottom: 1rem;

        &::after {
          content: "";
          position: absolute;
          top: -0.4rem;
          left: 1.3rem;
          width: 1rem;
          height: 1rem;
          background-color: #fff;
          transform: rotate(45deg);
        }
      }

      a {
        align-self: center;
        color: $color-tan-primary;
        text-decoration: none;
        border-bottom: 1px solid $color-tan-primary;
      }
    }
  }

  /*******
    BLOG
  ********/
  &__blog {
    text-align: center;

    span i {
      font-size: 6rem;
      color: $color-tan-primary;
      margin-bottom: 1rem;
    }

    h3 {
      margin-bottom: 1rem;
    }

    a {
      border-radius: 4rem;
      font-size: 0.8rem;
    }
  }

  /*********
    GALLERY
  **********/
  &__gallery {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: $color-dark-tertiary;
    margin-top: 1rem;
    padding-top: 8rem;
    padding-bottom: 2rem;

    svg {
      position: absolute;
      left: 0;
      top: -0.2rem;
    }

    &-header {
      h5 {
        color: $color-tan-primary;
        font-size: 0.8rem;
      }

      h4,
      p {
        color: #fff;
      }

      h4 {
        width: 70%;
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }
    }

    &-showcase {
      display: flex;
      flex-direction: column;

      img {
        width: 100%;
        height: 20rem;
        border: 1px solid $color-tan-primary;

        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }
      }
    }
    a {
      margin-top: 1rem;
      text-decoration: none;
      color: $color-tan-primary;
      align-self: center;
      border-bottom: 1px solid $color-tan-primary;
    }
  }
}
