.services {
  &__banner {
    display: flex;
    align-items: center;
    position: relative;
    background-image: url("../images/service_page_banner.jpeg");
    background-size: cover;
    background-position: center;
    height: 12rem;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }

    &-text {
      position: relative;
      z-index: 1;

      h5 {
        color: $color-tan-primary;
        font-size: 1.2rem;
      }

      h4 {
        color: #fff;
        font-size: 2rem;
      }
    }
  }

  &__desc {
    @include respond(medium) {
      width: calc(75% - 1rem);
    }
  }

  &__circle {
    display: flex;
    justify-content: center;

    @include respond(medium) {
      justify-content: flex-start;
      align-items: center;
      width: calc(25% - 1rem);
      border-right: 1px solid #fff;
    }
  }

  &__1,
  &__2,
  &__3 {
    position: relative;
    display: flex;
    flex-direction: column;

    @include respond(medium) {
      flex-direction: row;
      justify-content: space-between;
    }

    span {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 9rem;
      height: 9rem;
      border-radius: 50%;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
      }

      h2 {
        text-align: center;
        width: 80%;

        font-size: 1rem;
      }
    }
  }

  &__1 {
    background-color: $color-blue-primary;
    padding-top: 2rem;
    padding-bottom: 5rem;

    p {
      color: #fff;
    }

    span {
      background-color: #fff;
      margin-bottom: 1.5rem;

      &::after {
        border: 1px solid #fff;
      }
    }
  }

  &__2 {
    padding-top: 9rem;
    padding-bottom: 6rem;
    background: linear-gradient(
      115deg,
      #fff 0%,
      #fff 50%,
      rgba(255, 213, 140, 0.2) 50%
    );

    &--svg-top,
    &--svg-bottom {
      position: absolute;
    }

    &--svg-top {
      top: 0;
      left: 0;
    }

    &--svg-bottom {
      bottom: 0;
      left: 0;
    }

    @include respond(medium) {
      padding-bottom: 15rem;
      .services__desc {
        width: 70%;
        border-right: 1px solid $color-tan-primary;
        padding-right: 1rem;
      }
    }

    .services__circle {
      position: absolute;
      top: -2rem;
      left: 50%;
      transform: translateX(-50%);
      width: 9rem;
      border-right: none;

      @include respond(medium) {
        top: 1rem;
        left: 85%;
      }

      span {
        background-color: $color-tan-primary;

        &::after {
          border: 1px solid $color-tan-primary;
        }
      }
    }
  }

  &__3 {
    background-color: $color-dark-tertiary;
    padding-top: 2rem;
    padding-bottom: 2rem;
    p {
      color: #fff;
    }

    span {
      background-color: #fff;
      margin-bottom: 1.5rem;

      &::after {
        border: 1px solid #fff;
      }
    }
  }

  &__quote {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 1.3rem;
      margin-bottom: 1rem;

      @include respond(medium) {
        font-size: 1.8rem;
      }
    }

    a {
      font-size: 0.8rem;
      box-shadow: $box-shadow;

      @include respond(medium) {
        font-size: 1rem;
      }
    }
  }
}
